<!-- <header>
    <div class="header-bar">
      <div class="logo">
        Lanka Travels
      </div>
      <div class="auth-links">
        <a routerLink="/register">Register</a>
        
      </div>
    </div>
  </header>
  <div class="login-container">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" id="userName" formControlName="userName" placeholder="Enter your username" class="form-control" />
         
        </div>
    
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" placeholder="Enter your password" class="form-control" />
         
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
     -->

     <header>
      <div class="header-bar">
        <div class="logo">
          Lanka Travels
        </div>
        <div class="auth-links">
          <a routerLink="/register">Register</a>
        </div>
      </div>
    </header>
    <div class="background-container">
      <div class="login-container">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="userName">Username</label>
            <input type="text" id="userName" formControlName="userName" placeholder="Enter your username" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your password" class="form-control" />
          </div>
          <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
        </form>
      </div>
    </div>
    